<div class="accordion" id="{{ accordion_id }}">
	<div class="accordion-item">
		<h2 class="accordion-header" id="headingOne">
			<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
				{{ accordion_header }}
			</button>
		</h2>
		<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="{{'#' ~ accordion_id }}">
			<div class="accordion-body">
				{{ accordion_body }}
			</div>
		</div>
	</div>
</div>
