{#
/**
 * @file
 * Template for all pages.
 */
#}
{{ attach_library('story_sub/page') }}

<div class="page">
  {% block pageNavigation %}
    {% include "@story_sub/navigation/navigation.twig" %}
  {% endblock %}

  <main class="pt-5 pb-5">
    {% block pageMain %}
      {% include "@story_sub/header/header.twig" %}
      {% include "@story_sub/content/content.twig" %}
    {% endblock %}
  </main>

  {% block pageFooter %}
    {% include "@story_sub/footer/footer.twig" %}
  {% endblock %}
</div>
