#user-register-form,
#user-login-form,
#user-pass,
#block-registrationhelp,
#block-b5subtheme-local-tasks {
  max-width: 700px;
  margin: 0 auto;
}

#block-registrationhelp {
  margin-bottom: 5rem;
}

#block-registrationhelp {
  font-size: $font-size-cn-instructions;
}
