.cn-homepage .region-content {
  margin-top: 0;
}

.front-panel-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  @include media-breakpoint-up(md) {
    flex-direction: row;
  }
  margin: 0 auto;
  a {
    width: 200px;
    margin-right: 0;
    margin-left: 0;
  }
}

.front-panel-2 a {
  @include media-breakpoint-up(md) {
    margin-right: 10px;
    margin-left: 10px;
  }
}

.cn-page-subtitle {
  margin: 2rem 0;
}

.cn-credit.cn-front {
  text-align: center;
}
