// The views_bootstrap grids
// ===========================================

.view-cn-galleries {
  .cn-gallery-row {
    margin-top: 3rem;
  }
  .datetime,
  .cn-picture-grid-title {
    display: block;
    padding-top: 0.5rem;
  }
}

.cn-grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  img {
    border-radius: 10px;
    margin-top: 10px;
  }
}

.grow {
  transition: all 0.2s ease-in-out;
}

.grow:hover {
  transform: scale(1.1);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  img {
    border-radius: 10px 10px 0 0;
  }
}

// The content types
// ===========================================

.node--type-gallery-image,
.node--type-cuckoos-picture-gallery {
  .field--name-field-media-image {
    margin-bottom: 2rem;
  }
  .field:not(.field--name-field-media-image) {
    margin-bottom: 1rem;
  }
}
