// .navbar {
//   padding: 2rem 0;
// }

body {
  background-color: #e2faf6;
}

.navbar-dark .navbar-brand a.site-title,
.navbar-dark .navbar-nav .nav-link,
footer.footer-dark a {
  color: #c7ae7b;
}

.navbar-brand .site-title {
  text-transform: none;
  font-size: 2.5rem;
  font-family: Rye;
}

.nav-link {
  font-size: 1.5rem;
  font-family: Rye;
}

.region-content {
  margin-top: 3.5rem;
}

.cn-homepage .region-content {
  margin-top: 3rem;
}

.cn-page-subtitle {
  margin: 1rem 0;
}

.infographic {
  margin: 6rem auto;
  width: 40%;
}

svg-img {
  width: 100%;
  height: auto;
}

.cn-welcome {
  margin-top: 5rem;
}
