// .navbar {
//   padding: 2rem 0;
// }

body {
  // background-color: #e2faf6;
  background-color: #fff;
  color: #464c4f;
}

a {
  text-decoration: none;
  color: #316aab;
}

a:hover {
  border-bottom: 5px solid #316aab;
  background-color: yellow;
  color: black;
}

/*This is modifying the btn-primary colors but you could create your own .btn-something class as well*/
.btn-primary {
  color: black;
  background-color: $lighten-1;
  border: 0;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: black;
  background-color: $lighten-2;
  border: 0;
}

.navbar-dark .navbar-brand a.site-title,
.navbar-dark .navbar-nav .nav-link,
footer.footer-dark a {
  color: #717b80;
}

.navbar-brand .site-title {
  text-transform: none;
  @include rfs(2.5rem);
  font-family: Manrope;
}

#block-b5subtheme-main-navigation .nav-link {
  @include rfs(1.4rem);
  font-family: Manrope;
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.menu--account .nav-item {
  width: 10rem;
  margin: 0 auto;
}

.field--name-title {
  @include rfs(2rem);
}

// .node--type-page {
//   max-width: 700px;
//   margin: 0 auto;
// }

.infographic {
  margin: 6rem auto;
  width: 100%;
  @include media-breakpoint-up(sm) {
    width: 70%;
  }
  @include media-breakpoint-up(md) {
    width: 60%;
  }
  @include media-breakpoint-up(lg) {
    width: 40%;
  }
}

svg-img {
  width: 100%;
  height: auto;
}

.cn-welcome {
  margin-top: 5rem;
}

.nav-tabs .nav-link {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 0.9rem;
}

.menu--account a,
.breadcrumb-item a {
  font-size: 1rem;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.breadcrumb {
  padding: 0;
  margin: 0;
}

// =================================================
// FORMS

#user-register-form,
#user-login-form,
#user-pass,
#block-registrationhelp,
#block-b5subtheme-local-tasks,
.node--type-webform {
  max-width: 700px;
  margin: 0 auto;
}

#block-registrationhelp {
  margin-bottom: 5rem;
}

#block-registrationhelp {
  font-size: $font-size-cn-instructions;
}

// =================================================
// LAYOUT

#block-b5subtheme-content {
  margin-top: 1rem;
}

main {
  margin-bottom: 5rem;
}

.region-content {
  margin-top: 1.5rem;
}

.cn-link {
  cursor: pointer;
}

.navbar-brand .site-slogan {
  font-size: 1.25rem;
}

.cn-title {
  margin-bottom: 2rem;
  padding-right: 2rem;
}

.basic-text-indented {
  margin-left: 1rem;
}
.title-wrapper {
  background-color: $primary-lighten-2;
  border-radius: 5px;
}

// =================================================
// MAP

.outer-map-container {
  width: 100%;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    width: 60%;
  }
}

.map-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 100%; /* 1:1 Aspect Ratio */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.full-map {
  text-align: right;
}

.full-map a {
  font-size: 0.9rem;
}

.full-map {
  margin-bottom: 4rem;
}

.cn-footer-links,
.cn-footer-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
  p {
    text-align: center;
  }
  @include media-breakpoint-up(lg) {
    flex-direction: row;
    p {
      padding-right: 2rem;
    }
  }
  div {
    text-align: center;
    padding: 0.4rem 0;
    @include media-breakpoint-up(lg) {
      padding: 0 2rem;
    }
  }
}

.cn-footer-info {
  font-size: 1rem;
}

.cn-footer-links {
  @include rfs(1.5rem);
}

.cn-announce {
  margin: 1rem auto;
  background-color: #d1be97;
  padding: 1rem;
  border-radius: 20px;
  width: 100%;
  font-size: 1.1rem;
  p,
  h5 {
    text-align: center;
  }
}

@include media-breakpoint-up(lg) {
  .cn-announce {
    width: 60%;
  }
}

.cn-basic2col-image {
  margin-top: 2rem;
  margin-bottom: 3rem;
  @include media-breakpoint-up(md) {
    margin-top: 0;
  }
}

#block-title {
  margin: 2rem 0;
}

.cn-credit {
  font-size: x-small;
  text-align: right;
  padding-right: 5px;
}

.field--name-field-download {
  margin-top: 4rem;
}

#cboxTitle {
  display: none !important;
}

#book-block-menu-25 {
  margin-top: 6rem;
  font-weight: bold;
}

.align-left .field--name-field-media-image picture img {
  @include media-breakpoint-up(lg) {
    padding-right: 2rem;
  }
}

.align-right .field--name-field-media-image picture img {
  @include media-breakpoint-up(lg) {
    padding-left: 1rem;
  }
}

figcaption {
  font-size: small;
}

#block-phoenixandalison,
#block-helen {
  margin-top: 4rem;
}

.cn-press-body {
  margin-top: 2rem;
}
