$primary: #36786d;

@import url("https://fonts.googleapis.com/css?family=Dosis:wght@400&display=swap");
$font-family-base: "Dosis";
$font-size-base: 1.5rem;
$font-size-cn-instructions: 1.3rem;

@import url("https://fonts.googleapis.com/css2?family=Rye:wght@400&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

// https://getbootstrap.com/docs/5.0/content/typography/
$display-font-sizes: (
  1: 5rem,
  2: 4.5rem,
  3: 4rem,
  4: 2.5rem,
  5: 3rem,
  6: 2.5rem
);
